body{
    margin: 0px;
}

/*Header Part*/

#header{
    padding: 30px 30px 80px 30px;
    margin-bottom: 10px;
    background-image: url('header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

div#navegation a{
    color: rgb(255, 208, 0);
    font-size: large;
    margin-right: 15px;
}

div#header h1{
    margin: 50px 0px 0px 100px;
    width: fit-content;
    font-size: 100px;
    color: rgb(255, 208, 0);
}

div#header p{
    margin: 10px 0px 60px 105px;
    font-size: 30px;
    width: fit-content;
    color: rgb(255, 208, 0);
}


/*Galeery part*/

#gallery{
    margin-bottom: 100px;
}

ul li {
    display: inline-block;
    margin-right: 25px;
  }

.picture_card {
    width: 350px;
    height: 300px;
    margin: 50px 0px 10px 40px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.picture_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.picture-info {
    padding: 10px;
}

.picture-info h4 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.picture-info p {
    font-size: 14px;
    margin-bottom: 10px;
}


/*purchase part*/

div#purchase{
    background-color: gainsboro;
    padding: 10px 30px 30px 30px;
    margin: 0%;
    
}

div#purchase h3{
    font-size: 50px;
    margin-top: 0%;
}

#form{
    font-size: 30px;
    margin-left:50px;
}

#form input{
    padding: 8px;
    border: 1px solid #ccc;
    margin-right: 200px;
    width: 200px;    
}

/* Form submit button */
#form button{
    background-color: rgb(255, 208, 0);
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 25px;
    margin-bottom: 0px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}